*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    background: #f1b2dc;
    color: #fff;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

a{
    text-decoration: none;
}

.btn{
    background-color:#ff5a1f;
    color:white;
    padding: 12px 22px;
    border-radius: 8px;
    font-weight: bold;
}

.btn:hover{
    background-color: #e64a12;
}

header{
    background-color: #f4f4f6;
    position: sticky;
    top: 0;
    z-index: 10;
}

.nav{
    display: flex;
    align-items: center;
}

.mylogo{
    width: 70px;
    height: 70px;
    margin-right: 20px;
}

.links {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 34px;
}

.links a{
    color: #1a1a1a
}
.links a:hover {
    color: #ff5a1f;
}

.links select {
    border: none;
    background: none;
    font-size: 16px;
    color: #1a1a1a;
    cursor: pointer;
}

/* === HERO ===*/

.hero-box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
}

.hero-text {
    flex: 1;
}

h1 {
    font-size: 64px;
    line-height: 1.1;
    margin-bottom: 20px;
}

.orange {
    color: #ff5a1f;
 }

.hero p {
    font-size: 20px;
    color: white;
    margin-bottom: 30px;
}

.portfolio-img {
    width: 45%;
    max-width: 480px;
}

 /*Background circles*/
 .blob {
    position: absolute;
    border-radius: 50%;
    background: #e6ef66;
    opacity: 0.3;
    filter: blur(40px);
 }

 .blob-1 {
    width: 90px;
    height: 90px;
    top: 15%;
    left: 3%;
 }
 .blob-2 {
    width: 130px;
    height: 130px;
    top: 15%;
    right: 5%;
 }
 .blob-3 {
    width: 110px;
    height: 110px;
    bottom: 8%;
    left: 8%;
 }

 /* ===== FLOATING ICONS ===== */
 .social {
    position: fixed;
    right: 18px;
    top: 45%;
    display: flex;
    flex-direction: column;
    gap: 14px;
 }

 .social a {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: #fff;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .twitter { background: #1d9bf0; }
 .email { background: #22c55e; }
 .phone { background: #444; }

 /* ======= BOTTOM BAR + TOP BUTTON ======= */
 .contract {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    gap: 60px;
    padding: 14px;
    background: rgba(0, 0, 0, 6);
 }

 .contract a { color: #fff; font-weight: bold; }

 .top {
    position: fixed;
    right: 18px;
    bottom: 70px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #ff5a1f;
    color: #fff;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
 }